.app {
  background-color: white;
  border-radius: 8px;
  text-align: center;
  min-height:  700px;
  bottom: 0;
}

.buttonsGrid {
  background-color: white;
  display: grid;
  position: relative;
  justify-items: center;
  align-items: center;
  grid-gap: 0px;
}

/* 4 grid items for 2x2 grid */
.one {
  grid-column: 1;
  grid-row: 1;
  margin-top: 60px;
  background-color: white;
  color:rgb(79, 79, 79);
  font-size: medium;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}


.two {
  grid-column: 2;
  grid-row: 1;
  margin-top: 60px;
  background-color: white;
  color:rgb(79, 79, 79);
  font-size: medium;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}


.three {
  grid-column: 1;
  grid-row: 2;
  background-color: white;
  color:rgb(79, 79, 79);
  font-size: medium;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  width: 150px;
  height: 150px;
}


.four {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  color:rgb(79, 79, 79);
  font-size: medium;
  font-weight: bold;
  border-radius: 6px;
  text-align: center;
  width: 150px;
  height: 150px;
}


.couponDiv {
  text-align: center;
  border-radius: 6px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: medium;
  font-weight: bold;
  color: white;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 50px;
  background-color: rgba(63, 97, 222, 0.9);
}


.couponsTab{ 
  padding-top: 50px;
}


.dataDiv {
  background: rgba(255, 255, 255, 1.0);
  background: linear-gradient(0deg, rgb(245, 245, 245), rgba(255, 255, 255, 1.0));
  border-bottom: 1px rgb(235, 235, 235) solid;
  padding-bottom: 10px;
  font-size: 16px;
  text-align: left;
}


.dataList {
  display: inline;
  margin: 5px;
  font-size: 13px;
  margin-bottom: 20px;
}


.dataList li {
  height: 0px;
}


.keySpan {
  display: inline;
  position: absolute;
  left: 8%;
  width: 40%;
  text-align: right;
} 


.valueSpan {
  display: inline;
  position: absolute;
  text-align: left;
  width:50%;
} 


.footer {   
  text-align: center;
  position:fixed;    
  bottom:20px;   
  width:100%;  
  background-color: white;
  margin-bottom: 10px;
}


.footerData {
  border-top: 1px rgb(235, 235, 235) solid;
  background: rgba(255, 255, 255, 1.0);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1.0), rgb(245, 245, 245));
  padding-bottom: 50px;
  padding-top: 100px;
}


.gkLogo {
  text-align: left;
  padding: 5px;
  background-color: rgb(245, 245, 245);
}


.gridTitle {
  margin-top: 50px;
  border-bottom: 1px solid rgb(79, 79, 79);
  color: rgb(80, 80, 80);
  width: 60%;
  margin-left: 20%;
}


.item {
  margin-top: 60px;
  background-color: white;
  border: 1px solid rgb(230, 229, 229);
  border-radius: 6px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: large;
  font-weight: bold;
  color: rgb(100, 100, 100);
  filter: drop-shadow(3px 3px 3px rgba(195, 195, 195, 0.35));
}


.item img {
  margin-top: 10px;
  text-align: center;
}


.showBasketDiv {
  margin-top: 20px;
}


.showDataButton {
  text-align: center;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: medium;
  font-weight: bold;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  background-color: rgba(63, 97, 222, 0.9);
  filter: drop-shadow(3px 3px 5px rgba(210, 210, 210, 0.25));
}


.tabArea {
  text-align: center;
  padding-top: 5px;
}