.app {
  background-color: whitesmoke;
  text-align: center;
  min-height:  700px;
  bottom: 0;
}


.dataDiv {
  background-color: white;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid rgb(235, 235, 235);
  padding: 5px;
}


.footer {   
  text-align: center;
  position:fixed;    
  bottom:20px;   
  width:100%;    
  background-color: whitesmoke;
  margin-bottom: 10px;
}


.gkLogo {
  text-align: left;
  padding: 5px;
  background-color: rgb(245, 245, 245);
}


.item {
  margin-top: 60px;
  background-color: white;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 6px;
  margin-left: 15%;
  margin-right: 15%;
  font-size: large;
  font-weight: bold;
  color: rgb(100, 100, 100);
  filter: drop-shadow(3px 3px 5px rgba(195, 195, 195, 0.25));
}


.item img {
  margin-top: 10px;
  text-align: center;
}


.showBasketDiv {
  margin-top: 20px;
}


.showDataButton {
  text-align: center;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: medium;
  font-weight: bold;
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(63, 97, 222, 0.9);
  filter: drop-shadow(3px 3px 5px rgba(210, 210, 210, 0.25));
}


.tabArea {
  text-align: center;
}