.app {
  background-color: whitesmoke;
  text-align: center;
  min-height:  700px;
  bottom: 0;
}

.tabArea {
  text-align: center;

}

.footer{
  height: 60px;
  width: 100%;
  text-align: center;
}


.card { 
  display: flex;
  flex-direction: column;
}

.my-footer .card {
  flex-direction: column-reverse;
}